**Question 1. Knowing docker tags**
Run the command to get information on Docker

docker --help

Now run the command to get help on the "docker build" command:

docker build --help

Do the same for "docker run".

Which tag has the following text? - Automatically remove the container when it exits

--delete
--rc
--rmc
--rm**

``docker run --help``

**Question 2. Understanding docker first run**
Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash. Now check the python modules that are installed ( use pip list ).

What is version of the package wheel ?

0.42.0
1.0.0
23.0.1
58.1.0

``docker run -it --entrypoint /bin/bash python:3.9``
``pip list``

## Prepare Postgres

Run Postgres and load data as shown in the videos We'll use the green taxi trips from September 2019:

wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz

You will also need the dataset with zones:

wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

Download this data and put it into Postgres (with jupyter notebooks or with a pipeline)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz', compression="gzip")

C:\Users\randy\AppData\Local\Temp\ipykernel_15840\2564595314.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz', compression="gzip")

In [4]:
df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime  = pd.to_datetime(df.lpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://rdilone:opensource@localhost:5432/dtzoomcamp')
engine.connect()

In [10]:
print(pd.io.sql.get_schema(df, name = "green_tripdata_2019_09", con=engine))

CREATE TABLE green_tripdata_2019_09 (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [7]:
%time df.to_sql(name = "green_tripdata_2019_09", con=engine, if_exists='append', chunksize=1000)

CPU times: total: 14.2 s
Wall time: 40.9 s

449063

In [8]:
zone = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv')

In [11]:
zone.head(n=0).to_sql(name = "zones", con = engine, if_exists='replace')

0

In [12]:
%time
zone.to_sql(name = "zones", con = engine, if_exists='append')

CPU times: total: 0 ns
Wall time: 0 ns

265

**Question 3. Count records How many taxi trips were totally made on September 18th 2019?**

Tip: started and finished on 2019-09-18.

Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

- 15767
- 15612
- 15859
- 89009

``SELECT COUNT(*) 
FROM green_tripdata_2019_09
WHERE 
    DATE(lpep_pickup_datetime) = '2019-09-18' 
    AND DATE(lpep_dropoff_datetime) = '2019-09-18';``

**Question 4. Longest trip for each day**
Which was the pick up day with the longest trip distance? Use the pick up time for your calculations.

Tip: For every trip on a single day, we only care about the trip with the longest distance.

- 2019-09-18
- 2019-09-16
- 2019-09-26
- 2019-09-21

``SELECT DATE(lpep_pickup_datetime), MAX(trip_distance) AS MAYOR  FROM green_tripdata_2019_09
GROUP BY  DATE(lpep_pickup_datetime)
ORDER BY MAYOR desc``

**Question 5. Three biggest pick up Boroughs**
Consider lpep_pickup_datetime in '2019-09-18' and ignoring Borough has Unknown

Which were the 3 pick up Boroughs that had a sum of total_amount superior to 50000?

- "Brooklyn" "Manhattan" "Queens"
- "Bronx" "Brooklyn" "Manhattan"
- "Bronx" "Manhattan" "Queens"
- "Brooklyn" "Queens" "Staten Island"

``SELECT zones."Borough", SUM(trip.total_amount) AS SUMA
FROM green_tripdata_2019_09 as trip
INNER JOIN zones on zones."LocationID" = trip."PULocationID"
WHERE DATE(trip.lpep_pickup_datetime) = '2019-09-18' 
AND zones."Borough" NOT IN ('Unknown')
GROUP BY zones."Borough"
HAVING SUM(trip.total_amount) > 50000
ORDER BY SUMA DESC
LIMIT 3;
``

**Question 6. Largest tip**
For the passengers picked up in September 2019 in the zone name Astoria which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

Note: it's not a typo, it's tip , not trip

- Central Park
- Jamaica
- JFK Airport
- Long Island City/Queens Plaza

``SELECT
zones."Zone",
MAX(trip.tip_amount) AS max_tip_amount 
FROM green_tripdata_2019_09 as trip
INNER JOIN zones on zones."LocationID" = trip."DOLocationID"
WHERE DATE(trip.lpep_pickup_datetime) BETWEEN '2019-09-01'  AND '2019-09-30'
AND  trip."PULocationID" = (
	select  zones."LocationID" from zones
    WHERE  zones."Zone" = 'Astoria'
)
GROUP BY zones."Zone"
ORDER BY  max_tip_amount  DESC``

## Terraform
In this section homework we'll prepare the environment by creating resources in GCP with Terraform.

In your VM on GCP/Laptop/GitHub Codespace install Terraform. Copy the files from the course repo here to your VM/Laptop/GitHub Codespace.

Modify the files as necessary to create a GCP Bucket and Big Query Dataset.

Question 7. Creating Resources
After updating the main.tf and variable.tf files run:

terraform apply
Paste the output of this command into the homework submission form.

**Note: Sorry, I started the class a little late due to family problems. Today is the deadline, so I will try to do the Terraform part during this week. but i will send what i have until now.**